fastapi
uvicorn[standard]
python-multipart
pydantic
sqlalchemy
psycopg2-binary      
pandas
scikit-learn
transformers
torch
langdetect
python-dotenv
google-generativeai
PyPDF2
scrapy
requests
beautifulsoup4
python-docx